* {
  box-sizing: border-box;
}
.todo_wrapper,
.search_wrapper,
.tasks {
  margin-left: 100px;
}
.input_search,
.input_todo {
  width: 400px;
  height: 50px;
  font-size: 30px;
  padding-left: 10px;
  margin: 10px 0 0 0;
}
.btn_add_task {
  position: relative;
  left: -100px;
  top: -10px;
}
.task {
  border: 1px solid black;
  width: 400px;
  height: 40px;
  margin-top: 3px;
}
.task_item {
  display: inline;
  font-size: 25px;
  padding-left: 10px;
}
.btn_delete_task,
.btn_done_task {
  float: right;
}
.done_task {
  color: rgba(117, 116, 116, 0.582);
  text-decoration: line-through;
}
.done_wrapper {
  border: 1px solid rgba(117, 116, 116, 0.582);
}
.btn_done_click {
  display: none;
}
